@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: "Basic", ui-sans-serif, system-ui, sans-serif;
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-ring: var(--ring);
}

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;

  --surface: #e0e0e0;
  --surface-foreground: #1b1b1b;

  --primary: #000000;
  --primary-foreground: #ffffff;

  --border: #adadad;
  --muted: #ffffff;
  --muted-foreground: #71717a;

  --accent: #fe626a;
  --ring: #000000;
}

.dark {
  --background: #000000;
  --foreground: #fafafa;

  --surface: #1d1d1d;
  --surface-foreground: #fafafa;

  --primary: #ffffff;
  --primary-foreground: #000000;

  --border: #27272a;
  --muted: #101010;
  --muted-foreground: #a1a1aa;

  --accent: #fd707a;
  --ring: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Basic", sans-serif;
}


html {
  scroll-behavior: smooth;
}